* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style:none;
}

body {
    background: #FFF;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 6.3vh 89.7vh 5vh;
    grid-template-areas:    "header header"
                            "main main"
                            "footer footer";

}

.header {
    background: #24292E;
    height: 100%;
    grid-area: header;
}

.main {
    grid-area: main;
    height: 100%;
    background: yellow;
}
.footer {
    grid-area: footer;
    height: 100%;
    background: blue;
}
